FROM {{ base_image }}

# necessary to set default timezone Etc/UTC
ENV DEBIAN_FRONTEND noninteractive
{% if aptcacher is defined %}
RUN echo 'Acquire::http::Proxy "http://{{ aptcacher }}/";' > /etc/apt/apt.conf.d/50proxy.conf
{% endif %}
# testing Ubuntu 20.04 focal, in case of errors, switch to 18.04 again
RUN apt-get update \
  && apt-get -y upgrade \
  && apt-get -y dist-upgrade \
  && apt-get install -y ca-certificates \
  && apt-get install -y --no-install-recommends \
  && apt-get install -y locales \
  && localedef -i en_US -c -f UTF-8 -A /usr/share/locale/locale.alias en_US.UTF-8 \
  && apt-get install -y curl git gnupg pdns-server pdns-backend-sqlite3 pdns-backend-mysql mysql-client \
  && rm -rf /var/lib/apt/lists/* 


EXPOSE 8081 53/udp 53/tcp 
